<style>
   #map {
    height: 400px;
    width: 100%;
   }
</style>

<h1 class="text-center home-header">Welcome to the Full List of Deeds!</h1>

  <section class="F">
    <div class="container">
      <div class="row masonry">
        <% @deeds.each do |deed| %>
          <div class="product col-md-3 col-sm-6 col-xs-12 " data-product-id="1">
            <div class="inner-product">
              <!-- <span class="onsale">Sale!</span> -->
              <% if deed.image.present? %>
                <div class="product-thumbnail">
                  <p><a href="/deeds/<%= deed.id %>"><%= image_tag deed.image, class: "img-responsive" %></a></p>
                </div>
              <% else %>
                <div class="product-thumbnail">
                  <img src="build/img/products/2.jpg" class="img-responsive" alt="">
                </div>
              <% end %>

              <div class="product-details text-center">
                <div class="product-btns">
                  <span data-toggle="tooltip" data-placement="top" title="Add To Cart">
                    <a href="#!" class="li-icon add-to-cart"><i class="lil-shopping_cart"></i></a>
                  </span>
                  <span data-toggle="tooltip" data-placement="top" title="Subscribe">
                     <%= form_tag "/subscriptions", id: "subscribe-form", method: :post do %>
                        <% if current_user %>
                          <%= hidden_field_tag :user_id, current_user.id %>
                        <% end %>
                        <%= hidden_field_tag :deed_id, deed.id %>

                        <a href="#" type="submit" onclick="$('#subscribe-form').submit()" class="li-icon"><i class="lil-favorite"></i></a>
                    <% end %>
                  </span>
                  <span data-toggle="tooltip" data-placement="top" title="View">
                    <a href="product.html" class="li-icon view-details"><i class="lil-search"></i></a>
                  </span>
                </div>
              </div>
            </div>
            <h3 class="product-title home-header"><a href="/deeds/<%= deed.id %>"><%= deed.name %></a></h3>
            <div class="star-rating">
              <span style="width:90%"></span>
            </div>
            <p class="product-price">
              <ins>
                <span class="amount">$66.50</span>
              </ins>
              <del>
                <span class="amount">$150.00</span>
              </del>
          </div><!-- /.product -->
        <% end %>
      </div><!-- /.masonry -->
      <div class="clearfix text-center">
        <a href="#!" class="btn btn-default">Show More</a>
      </div>
    </div><!-- /. container -->
  </section><!-- /.products-grid -->
  <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_maps_api']%>&callback=initMap">
    </script>
  </body>
</html>