<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<h1>Make a New Deed!</h1>
<%= form_tag '/deeds', method: :post, class: "inputs-border" do  %>
  <div class="form-group">
    <%= label_tag :name %>
    <%= text_field_tag :name, '', class: "form-control" %>
  </div>
  <div>
    <%= label_tag :max_volunteers %>
    <%= text_field_tag :max_volunteers %>
  </div>
  <div>
    <%= label_tag :min_volunteers %>
    <%= text_field_tag :min_volunteers %>
  </div>
    <div>
    <%= label_tag :description %>
    <%= text_field_tag :description %>
  </div>
    <div>
    <%= label_tag :location %>
    <%= text_field_tag :location %>
  </div>
    <div>
    <%= label_tag :category %>
    <%= text_field_tag :category %>
  </div>
    <div>
    <%= label_tag :max_points %>
    <%= text_field_tag :max_points %>
  </div>

    <div>
    <%= label_tag :image %>
    <%= text_field_tag :image %>
  </div>
  <%= submit_tag "Submit a New Deed!", class: "btn btn-normal" %>
<% end %>
</div>
