
<h1> Here's more info about your Deed! </h1>
<!-- <div> Maximum Volunteers: <%= @deed.max_volunteers%> </div>
<div> Minimum Volunteers: <%= @deed.min_volunteers %> </div> -->
<!-- <div> Category: <%= @deed.category %> </div> -->
<!-- <div> Maximum Points: <%= @deed.max_points %> </div> -->
<div> Description: <%= @deed.description %> </div>
<div> Maximum Volunteers: <%= @deed.max_volunteers%> </div>
<div> Minimum Volunteers: <%= @deed.min_volunteers %> </div>
<div> Location: <%= @deed.location %> </div>
