<br>
<br>
<br>
<br>
<br>
<br>
<h1> Here's more info about your Deed! </h1>
<div> Max Volunteers: <%= @deed.max_volunteers%> </div>
<div> Minimum Volunteers: <%= @deed.min_volunteers %> </div>
<div> Location: <%= @deed.location %> </div>
<div> Category: <%= @deed.category %> </div>
<div> Maximum Points: <%= @deed.max_points %> </div>